header .company a {
    color : black;
}

header .company .site {
    color : #080;
}

header nav {
    position : absolute;
    right    : 0;
    top      : 0;
}

#responsite-version {
    position : absolute;
    right    : 72px;
    top      : 28px;
}

#responsite-version:first-letter {
    color : #080;
}