body {
    font-family : "Courier New", sans-serif;
}

ul {
    margin  : 0;
    padding : 0;
}

li {
    list-style : none;
}

a {
    text-decoration : none;
    color:#080;
}

section.landing .cta,
.single-button a {
    margin        : 10px;
    display       : inline-block;
    padding       : 15px 30px;
    font-weight   : bold;
    font-size     : 16px;
    border-radius : 2px;
}
