#logo-svg {
    max-width : 200px;
}

section.landing {
    background : white;
    padding    : 80px 0;
    font-size  : 14px;
}

section.landing .cta {
    transform   : rotate(-3deg);
    background    : #080;
    color         : white;
}

section.landing .cta:hover {
    background: black;
}