#logo-svg {
    max-width : 200px;
}

section.landing {
    background : white;
    padding    : 80px 20px;
    font-size  : 14px;
}

section.landing h2 {
    font-weight : normal;
    color       : #666;
    margin: 40px 0;
}

section.landing .cta {
    transform  : rotate(-3deg);
    background : #080;
    color      : white;
}

section.landing .cta:hover {
    background : black;
}